*{
    margin:0;
    padding: 0;
}

body{
    display: grid;
    grid-template-areas: "header" "menu" "main" "footer" ;

}

header{
    grid-area: header;
    text-align: center;
    background-color: #8144ff;
}

nav{
    grid-area: menu;
    text-align: center;
    background-color: #8144ff;
}

main{
    grid-area: main;
    background-color:violet
}

footer{
    grid-area: footer;
    background-color:green
}


.logo{
    border-radius: 100px;
    display: inline;
}

li{
    list-style-type: none;
    display: inline;
    font-size: large;
    font-weight: bold;
    /* padding: 0.1%; */
}

a{
    text-decoration: none;
}

.card {
    /* padding: 10px; */
    text-align: center;
    background-color: #d85959;
    /* border-radius: 3%; */
  }

  .container-cards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      /* grid-template-rows: 4fr; */
      grid-gap: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
  }

.filtros{
    display: flex;
    flex-direction: row;
}

.ubicacion{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
}

.ubicacion__parrafo{
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    font-family: Roboto;
}

.mapa{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.campos {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #8144ff;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    /* resize: vertical ; */
  }

.enviar {
    background-color: #3c2add;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.enviar:hover {
    background-color: #f70bf7;
  }

.contacto{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

@media only screen and (max-width: 850px) {
    .ubicacion {
        flex-direction: column;
        text-align: center;
    }
    .container-cards{
        grid-template-columns: 1fr;
    }
    li{
        display: block;
    }
  }