*{
    margin:0;
    padding: 0;
    font-family: 'Bangers';
}

$colores: (
    color-body:#60bb9a,
    color-nav:#60bb9a,
    color-main:#714f9b,
    color-footer:#60bb9a
);

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
 }
 
%card{
    text-align: center;
    width: 100%;
}

body{
    display: grid;
    grid-template-areas: 
    "menu menu" 
    "main main" 
    "footer footer" ;
    background-color: map-get($colores,color-body);
    nav{
        grid-area: menu;
        background-color: map-get($colores,color-nav);
        .nav-item{
            font-size: 36px;
        }
    }
    main{
        grid-area: main;
        background-color: map-get($colores,color-main);
    }
    footer{
        grid-area: footer;
        text-align: center;
        background-color: map-get($colores,color-footer);
    }
}

.logo{
    border-radius: 100px;
    display: inline;
}

.quienessomos{
    border-radius: 250px;
    margin-top: 30px;
}

.products-img{
    @include sizes(100%, 100%);
}

.container-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card {
    @extend %card;
    &:hover{
        transform: scale(1.04) ;
        opacity: .6;
    }
}

.kitDescription{
    font-size: 30px;
    li{
        list-style-type:none;
    }
}

.bi-instagram:hover{
    transform: scale(1.05) ;
}

.bi-facebook:hover{
    transform: scale(1.05) ;
}

.bi-whatsapp:hover{
    transform: scale(1.05) ;
}

.ubicacion{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
}

.enviar {
    background-color: #3c2add;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: #f70bf7;
      }
  }



.contacto{
    border-radius: 5px;
    padding: 20px;
}

@media only screen and (max-width: 850px) {
    .ubicacion {
        flex-direction: column;
        text-align: center;
    }
    .products-img{
        @include sizes(30rem, 30rem);
    }
    .container-cards{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .card{
        text-align: center;
        width: 30rem;
    }
    li{
        display: block;
    }
  }
   