*{
    margin:0;
    padding: 0;
}

body{
    display: grid;
    grid-template-areas: 
    "menu menu" 
    "main main" 
    "footer footer" ;
    background-color: #60bb9a;
    nav{
        grid-area: menu;
        background-color: #60bb9a;
    }
    main{
        grid-area: main;
        background-color:#714f9b;
    }
    footer{
        grid-area: footer;
        text-align: center;
        background-color:#60bb9a;
    }
}

.logo{
    border-radius: 100px;
    display: inline;
}

.quienessomos{
    border-radius: 250px;
    margin-top: 30px;
}

.products-img{
    width: 20rem;
    height: 20rem;
}

.container-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card {
    text-align: center;
    width: 20rem;
    &:hover{
        transform: scale(1.04) ;
        opacity: .6;
    }
}



.ubicacion{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
}

.enviar {
    background-color: #3c2add;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: #f70bf7;
      }
  }



.contacto{
    border-radius: 5px;
    padding: 20px;
}

@media only screen and (max-width: 850px) {
    .ubicacion {
        flex-direction: column;
        text-align: center;
    }
    .products-img{
        width: 30rem;
        height: 30rem;
    }
    .container-cards{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .card{
        text-align: center;
        width: 30rem;
    }
    li{
        display: block;
    }
  }
   